
.buttons {
    border: 0;
    background-color: var(--second-color);
    border-radius: 0px;
    padding: 5px 10px;
    transition: background-color 0.2s ease-out;
    width: 100%;
  }
  
  button {
    border: 0;
    background-color:  var(--second-color);
    color:  var(--text-color);
    border-radius: 4px;
    padding: 5px 10px;
    transition: background-color 0.2s ease-out;
   
    cursor: pointer;
    width: 70px
  }
  
  button:hover {
    background-color:  var(--background-color);
  }
  button:active, button:hover {
    outline: none;
  }