.ToolBar {
  height: 50px;
  display: flex;
  align-items: center;

  background-color: var(--background-color);;
}

img {
  height: 30px;
  margin-left: 10px;
}

.ide-name {
  font: "Arial";
  font-size: 30px;
  color: var(--text-color);
  margin-left: 10px;
}
.switch-element {
  margin-left: auto;
  margin-right: 0px;
  margin-top: 0;
}
.button-text {
  font: "Arial";
  color: var(--text-color);
  font-size: 10px;
}

/* button */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}
.toggle-switch input[type="checkbox"] {
  display: none;
}
.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: var(--second-color);;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
.toggle-switch .switch::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 2px;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.toggle-switch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(25px);
  background-color: white;
}
.toggle-switch input[type="checkbox"]:checked + .switch {
  background-color: var(--second-color);;
}

.preference-button {
  background-color: transparent;
  border: none;
  width: 60px;
  margin-right: 10px;
}

.menu {
  background-color: var(--second-color);
  width: 100%;
  margin-right: 0px;
  margin-left: auto;
  position: 'absolute';
  zIndex: 5;
}

.file-button {
  background-color: transparent;
  border: none;
  text-align: right;
}

.file-button:hover {
  background-color: var(--background-color);
  color: white;
  cursor: pointer;
}

[class*="shortcut"] {
  background-color: transparent;
  border: none;
  text-align: center;
}

[class*="shortcut"]:hover {
  background-color: var(--background-color);
    color: white;
  cursor: pointer;
}

.save-button {
  margin-left: 40px;
}

.save-button:hover {
  background-color: var(--background-color);
  color: white;
  cursor: pointer;
}
