.App {
  text-align: center;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  min-height: 70vh;
}

#Arbolescence
{
  overflow-y: scroll;
}
ul, li
{
  margin: 8px;
  margin-left: 40px;
  cursor:pointer;
  
}

ul
{
  list-style: url('./folder.png');
  
}

li
{
  list-style: url('./file.png');
  /*list-style: picture;*/
}

ul li::before {
  content: "\200B";
}

h4
{
  color: white;
  background-color: var(--second-color);
  padding: 10px;
  color: var(--text-color);
}