body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Component {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Bottom {
  display: flex;
  flex-direction: row;
  height: 40%;
}

.Top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60%;
}

#Clavier {
  display : flex;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

#Editor {
  display: flex;
  flex-direction: column;
  width: 70%;
}

#Terminal {
  margin-top: 20%;
  height: 60%;
}

#Console {
  width: 50%;
}

.Files {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}