:root,
:root.light {
    --background-color: rgb(234, 234, 234);
    --second-color: rgb(170, 162, 248);
    --text-color: rgb(91, 63, 122);
}

:root.dark {
    --background-color: #4c4c4c;
    --second-color: rgb(40, 39, 45);
    --text-color: white;
}

:root.ts {
    --background-color: rgb(91, 40, 91);
    --second-color: rgb(198, 69, 148);
    --text-color: yellow;
}

.Component {
    height: 100%
}

.Component .Edit {
    width: 100%;
    height: 300px
}

.Component .Files {
    background-color: #E0E0E0FF;
    width: 20%;
    height: 300px;
}

.Component .Top {
    height: 300px;
}

.Component .Bottom .cs {
    width: 100%;
    height: 100%;
}

.Component .Bottom .Keyboard {
    width: 100%;
    height: 100px;
}

.Component .Bottom .keyboard .layout {
    width: 100%
}